snippet cmaketemplate "CMakeLists.txt template"
cmake_minimum_required(VERSION 3.10)
set(CMAKE_CXX_STANDARD 11)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

project(project_name)
add_executable(main.out main.cpp)
endsnippet
